<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados de los cálculos:</h1>

    <h2>Combinaciones:</h2>
    <p>{{ resultado.combinaciones }}</p>

    <h2>Comb:</h2>
    <p>{{ resultado.comb }}</p>

    <h2>Factorial:</h2>
    <p>{{ resultado.facotial }}</p>

    <h2>Longitud de lista:</h2>
    <p>{{ resultado.l }}</p>

    <h2>Permutaciones:</h2>
    <p>{{ resultado.per }}</p>

    <h2>Combinaciones de Strings:</h2>
    <p>{{ resultado.str }}</p>

    <h2>La probabilidad total de B es:</h2>
    <p>{{resultado.pb}}</p>
    <h2>pab</h2>
    <p>{{resultado.pab}}</p>
    <h2>La probabilidad total de A es:</h2>
    <p>{{resultado.pa}}</p>
    <h2>Las probabilidades condicionales P(B|A) son:</h2>
    <p>{{resultado.pba}}</p>

</body>
</html>